# Project information
site_name: Openterface Mini-KVM | Transformez votre ordinateur portable en console KVM
site_url: https://fr.openterface.com/
site_author: Billy Wang
site_description: Une solution KVM-over-USB riche en fonctionnalités, open-source et orientée communauté

# Repository
repo_name: Openterface
repo_url: https://github.com/TechxArtisanStudio/Openterface

# Copyright
copyright: >-
  Droits d'auteur &copy; Tous droits réservés. 2023 <a href="https://www.openterface.com">Openterface MiniKVM</a>, Guangzhou Billio Tech. Co., Ltd. <br>
  <a href="">Accueil</a> |
  <a href="/terms-of-service">Conditions d'utilisation</a> |
  <a href="/privacy-policy">Politique de confidentialité</a> | 
  <a href="#__consent">Paramètres des cookies</a> | 
  <a href="/contact">Contactez-nous</a>

extra_css:
  - assets/stylesheets/extra.css

# extra_javascript:
#   - assets/javascripts/extra.js

# Configuration
theme:
  name: material
  custom_dir: docs/overrides
  language: fr
  font:
    text: Roboto
    code: Roboto Mono
  logo: assets/logo.png
  favicon: images/favicon.png
  features:
   - navigation.tabs
   - navigation.sections
   - navigation.top
   - navigation.footer
   - navigation.indexes
   - toc.integrate
   - search.suggest
   - search.highlight
   - content.tabs
   - content.code.annotation
   - content.code.copy
  palette:
    primary: deep orange
    accent: custom
  icon:
    admonition:
      note: fontawesome/solid/note-sticky
      abstract: fontawesome/solid/book
      info: fontawesome/solid/circle-info
      tip: fontawesome/solid/bullhorn
      success: fontawesome/solid/check
      question: fontawesome/solid/circle-question
      warning: fontawesome/solid/triangle-exclamation
      failure: fontawesome/solid/bomb
      danger: fontawesome/solid/skull
      bug: fontawesome/solid/robot
      example: fontawesome/solid/flask
      quote: fontawesome/solid/quote-left

extra:
  social:
    - icon: txa/crowd-supply-icon
      link: https://www.crowdsupply.com/techxartisan/openterface-mini-kvm
    - icon: fontawesome/brands/reddit-alien
      link: https://www.reddit.com/r/Openterface_miniKVM/
    - icon: fontawesome/brands/discord
      link: https://discord.gg/sFTJD6a3R8
    - icon: fontawesome/brands/youtube
      link: https://youtube.com/@TechxArtisan
    - icon: fontawesome/brands/x-twitter
      link: https://twitter.com/TechxArtisan
    - icon: fontawesome/brands/facebook-f
      link: https://www.facebook.com/TechxArtisan
    - icon: fontawesome/brands/linkedin-in
      link: https://www.linkedin.com/company/techxartisan/

    # - icon: fontawesome/brands/github-alt
    #   link: https://github.com/TechxArtisan
  
  alternate:
    - name: English
      link: https://openterface.com/
      lang: en
    # - name: 中文简体
    #   link: https://zh.openterface.com/
    #   lang: zh
    # - name: 中文繁體
    #   link: https://tw.openterface.com/
    #   lang: zh-Hant
    - name: 日本語
      link: https://jp.openterface.com/
      lang: ja
    - name: 한국어
      link: https://kr.openterface.com/
      lang: ko
    - name: Français
      link: https://fr.openterface.com/
      lang: fr
    - name: Deutsch
      link: https://de.openterface.com/
      lang: de
    - name: Italiano
      link: https://it.openterface.com/
      lang: it
    - name: Español
      link: https://es.openterface.com/
      lang: es
    # - name: Português
    #   link: https://pt.openterface.com/
    #   lang: pt
    # - name: Svenska
    #   link: https://sv.openterface.com/
    #   lang: sv
    # - name: Polski
    #   link: https://pl.openterface.com/
    #   lang: pl
    # - name: Nederlands
    #   link: https://nl.openterface.com/
    #   lang: nl

  consent:
    title: Consentement aux cookies
    description: >- 
      Nous utilisons des cookies pour améliorer la qualité du contenu des documents, analyser l'efficacité du site et les besoins.
      En donnant votre consentement, vous nous aidez à améliorer notre site web. Merci!
    actions:
      - accept
      - reject
  analytics:
    provider: google
    property: G-EKZEH6QYWT

markdown_extensions:
  - tables
  # Enables admonitions
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  # Enables emoji shortcodes like :+1: or :sunglasses:
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
              custom_icons:
                - overrides/.icons
  - toc:
      permalink: ¶
      toc_depth: 3

plugins:
  - glightbox
  - search
  - tags:
      tags_file: tags.md
  - blog:
      post_url_format: "{slug}"
      authors_file: "{blog}/.authors.yml"
      blog_toc: true
      post_excerpt_separator: <!-- more -->
      categories_name: Categories
      categories_toc: true
      pagination: true
      pagination_per_page: 10
      draft: true
      archive: false

nav:
  - Accueil: index.md
  - Questions fréquentes: faq.md
  - Documentation:
    - Démarrage rapide: quick-start.md
    - Pourquoi Openterface: why-openterface-minikvm.md
    - Cas d'utilisation: use-cases.md
    - Spécifications: specifications.md
    - Contenu de la boîte: whats-in-the-box.md
    - Fonctionnement: how-it-works.md
    - Comparaison: comparison.md
    - Questions fréquentes: faq.md
    - Développement:
          - Contribuer: contributing.md
          - Test de base: basic-testing.md
  - Communauté:
      - Bienvenue: community.md
  # - Articles: https://openterface.com/blog/
  - Articles:
    - blog/index.md
  - À propos:
      - Contact: contact.md
      - Politique:
        - Politique de confidentialité: privacy-policy.md
        - Conditions d'utilisation: terms-of-service.md
        - Retours, remboursements, garantie: return-refunds-warranty.md